.container {
  width: 1134px;
  margin: 0 auto;
  padding: 0 20px;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/Segoe UI Italic.eot");
  src: local("☺"), url("../fonts/Segoe UI Italic.woff") format("woff"),
    url("../fonts/Segoe UI Italic.ttf") format("truetype"),
    url("../fonts/Segoe UI Italic.svg") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/Segoe UI lite Italic.eot");
  src: local("☺"), url("../fonts/Segoe UI lite Italic.woff") format("woff"),
    url("../fonts/Segoe UI lite Italic.ttf") format("truetype"),
    url("../fonts/Segoe UI lite Italic.svg") format("svg");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Forum";
  src: url("../fonts/Forum-Regular.eot");
  src: local("☺"), url("../fonts/Forum-Regular.woff") format("woff"),
    url("../fonts/Forum-Regular.ttf") format("truetype"),
    url("../fonts/Forum-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT";
  src: url("../fonts/futura-pt-light.eot");
  src: local("☺"), url("../fonts/futura-pt-light.woff") format("woff"),
    url("../fonts/futura-pt-light.ttf") format("truetype"),
    url("../fonts/futura-pt-light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT.eot");
  src: local("☺"), url("../fonts/FuturaPT.woff") format("woff"),
    url("../fonts/FuturaPT.ttf") format("truetype"),
    url("../fonts/FuturaPT.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  /* width: 1440px; */
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  background-color: aquamarine;
}

.con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .con::before {
  content: "";
  position: absolute;
  top: 0;
  left: 61.2%;
  width: 548px;
  height: 974px;
  background: #272727;
  z-index: -1;
} */

.header-item {
  display: flex;
  gap: 40px;
  align-items: center;
}

.header-btn {
  background-color: transparent;
  border: none;
  margin-left: 80px;
}

.hero {
  display: flex;
}

.hero-container {
  /* width: 1440px; */
  margin-left: auto;
  margin-right: auto;
  background-color: aquamarine;
  padding-top: 265px;
}

.hero-title {
  color: #272727;
  font-family: Forum;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.92px;
  margin-bottom: 50px;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hero-title:hover {
  transform: scale(1.1, 1.1);
}

.hero-subtitle {
  font-family: "Segoe UI";
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.3;
  color: #272727;
  align-self: flex-end;
  position: relative;
  margin-left: 290px;
}

.hero-subtitle::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 70%;
  height: 1px;
  top: 60%;
  right: 120%;
  background-color: #272727;
}

.colco {
  margin-left: 108px;
}

.hero-text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 280px;
  padding-bottom: 60px;
}

.lang {
  color: #272727;
  font-family: Futura PT;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.lang-en {
  color: #c4c4c4;
  font-family: Futura PT;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.hero-tit {
  color: #fff;
  text-align: right;
  font-family: Futura PT;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.text {
  color: #c2c2c2;
  text-align: right;
  font-family: Futura PT;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 9px;
}

.money {
  color: #efc58b;
  font-family: Segoe UI;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.54px;
  text-align: right;
  margin-top: 9px;
}
.men-women {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  background-color: aquamarine;
}

.sections {
  display: flex;
  justify-content: space-between;
}
.sections-img {
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.sections-img:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  transform: scale(1.006, 1.006);
}

.men {
  position: relative;
  max-height: 587px;
  min-height: 200px;
}

.bu {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.section-item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(39, 39, 39, 0.4);
}

.sections-title {
  position: relative;
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.sections-title::before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  content: "Перейти в раздел";
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.3;
  color: #ffffff;
}

.sections-title::after {
  position: absolute;
  bottom: -23px;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 2px;
  background-color: #ffffff;
  content: "";
}

.location {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #272727;

  height: 600px;
  position: relative;
}

.location-all {
}

.location-search {
  margin-right: 20px;
  width: 386px;
}

.location-title {
  padding-top: 170px;
  width: 100%;
  margin-bottom: 16px;
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.location-text {
  margin-bottom: 60px;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.3;
  color: #ffffff;
}

.loc-search {
  /* display: flex; */
  position: relative;
}

.location-input {
  display: block;
  width: 100%;
  height: 47px;
  padding: 10px 45px 10px 0;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 300;
  font-size: inherit;
  line-height: 1.3;
  color: #fff;
  background: transparent;
  background-clip: padding-box;
  border: 0;
  border-bottom: 2px solid #fff;
}

.location-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.location-input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.location-input:focus {
  outline: none;
  border-color: #e2b67a;
}

.location-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 47px;
  padding: 0 0 0 20px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: right 1s ease;
}

.location-karta {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50vw;
  height: 100%;
}

.price {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.price-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 41.666% 1fr;
  grid-template-columns: 1fr 41.666% 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.price-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #ededed;
  padding: 47px 30px 20px 30px;
}

.price-item-big {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  background-image: url("../img/03.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.big {
  position: absolute;
  left: 30px;
  bottom: 20px;
  z-index: 8;
}

.price-img {
  margin-bottom: 67px;
  text-align: center;
}

.price-img img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  max-height: 170px;
}

.price-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 131.25%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #272727;
}

.price-text {
  color: #c2c2c2;

  font-family: Futura PT;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 9px;
}

.price-money {
  color: #efc58b;
  font-family: Segoe UI;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.54px;

  margin-top: 9px;
}
